<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.hirsonf.jobbermeister" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.LoginActivity"
            android:label="Acceuil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterCredentialsActivity"
            android:label="Crédentiels"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.RegisterProfileActivity"
            android:label="Profil"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.RegisterCompanyActivity"
            android:label="Société"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.RegisterContactApplicantActivity"
            android:label="Contact"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.RegisterContactEmployerActivity"
            android:label="Contact"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.RegisterDescriptionActivity"
            android:label="Description"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.RegisterCriteriaActivity"
            android:label="Critères"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.BrowseOffersActivity"
            android:label="Explorer les annonces"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>